@*@model IEnumerable<ReviewListingViewModel>*@
@model ReviewSearchViewModel

@{
    ViewData["Title"] = "All Reviews";
}

<h2 class="heading-margin text-center">@ViewBag.Title</h2>
<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="OneService" class="form-label">Search by service</label>
                <select asp-for="OneService" class="form-select">
                    <option value="">All</option>
                    @foreach (var service in Model.PickAService)
                    {
                        <option value="@service">@service</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm" class="form-label">Search by keyword</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Dog, cat, best, spa etc...">
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting" class="form-label">Search by service</label>
                <select asp-for="Sorting" class="form-select">
                    <option value="0" selected>Date Created Descending</option>
                    <option value="1">Date Created Ascending</option>
                </select>
            </div>
        </div>

        <div class="form-group col-md-3 text-center">
            <br />
            <input type="submit" class="btn btn-primary" value="Search">
            @*            //if i wanna remove the button
                <input type="submit" class="btn btn-primary d-none">*@

        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage -1;
    if (previousPage < 1) {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalReviews / ReviewSearchViewModel.ReviewsPerPage);
}

<div class="row text-center mb-3">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" 
        asp-controller="Review" 
        asp-action="All" 
        asp-route-CurrentPage="@(previousPage)"
        asp-route-OneService="@Model.OneService"
        asp-route-SearchTerm="@Model.SearchTerm"
        asp-route-Sorting="@((int)Model.Sorting)">Go back</a>
    </div>
        <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" 
        asp-controller="Review" 
        asp-action="All" 
        asp-route-CurrentPage="@(Model.CurrentPage + 1)"
        asp-route-OneService="@Model.OneService"
        asp-route-SearchTerm="@Model.SearchTerm"
        asp-route-Sorting="@((int)Model.Sorting)">Go forth</a>
    </div>
</div>


<div class="row">
    @foreach (var review in Model.Reviews)
    {
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="@review.ImageUrl" class="card-img-top" width="250" height="300" alt="@review.Title - @review.Service">
                <div class="card-body">
                    <h5 class="card-title">@review.Title </h5>
                    <p class="small text">@review.Service</p>
                    <p class="card-text">@review.Description</p>

                </div>
            </div>
        </div>
    }
</div>





