@model IEnumerable<ReviewListingViewModel>

    
<div class="row">
    @foreach (var review in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@review.ImageUrl" class="card-img-top" alt="@review.Title - @review.Service">
            <div class="card-body">
                <h5 class="card-title">@review.Title (@review.Service)</h5>
                <p class="card-text">@review.Description</p>
            </div>
        </div>
        <br />
    }
</div>






