@model IEnumerable<LocationListingViewModel>

    
@{
    ViewData["Title"] = "See all of our locations!";
}


<div class="row">
   <h2 class="heading-margin text-center">@ViewBag.Title</h2>

    @foreach (var location in Model)
    {
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@location.LocationTown</h5>
                    <p class="card-text">@location.Address</p>
                    <a asp-area="" asp-controller="Salon" asp-action="AllSalons" asp-route-ByLocation="@location.LocationTown" class="btn btn-primary">See all salons in @location.LocationTown</a>
                </div>
            </div>
        </div>
    }
    <br />
</div>
